{{!-- navigation bar --}}
<div class="container-fluid nav-style">
  <div class="nav-left">
    <a href="/">
      <img class="logo" src="/images/logo.png" alt="logo" />
    </a>
    <a href="/" class="nav-heading">Home</a>
    <a href="/movies" class="nav-heading">Movies</a>
    {{!-- href is the request url --}}
    <a href="/celebrities" class="nav-heading">Celebrities</a>
  </div>

  <div class="nav-middle">
  </div>

  <div class="nav-right">
    <div class="search-box">
      <input class="input-box"type="text" name="" placeholder="" />
      <img class="search-img" src="/images/search.png" alt="search" />
    </div>
  </div>
</div>

<h1 style="padding-top: 4rem">this is a form to edit celeb info</h1>

<h2>Edit {{theActualBook.title}} </h2>

<form action="/books/update/{{theActualBook._id}}" method="POST">
{{!-- we are passing the ID in the url because whichever route we submit this form to --}}
{{!-- need to know which book to edit, so it needs to know the ID --}}
{{!-- the id can be passed through params like I did right here above --}}
{{!-- ir you can pass the ID through req.body (secretly) by adding a hidden input --}}



<p>Title</p>
<input type="text" name="title" value="{{theActualBook.title}}">

<p>Author</p>
<input type="text" name="author" value="{{theActualBook.author}}" >


<p>Image URL</p>
<input type="text" name="image" value="{{theActualBook.image}}">


<input type="hidden" value="{{theActualBook._id}}" name="theID">



    <button>Save!</button>
</form>