{{!-- navigation bar --}}
<div class="container-fluid nav-style">
  <div class="nav-left">
    <a href="/" class="nav-heading">
      <img class="logo" src="/images/logo.png" alt="logo" />
    </a>
    <a href="/" class="nav-heading">Home</a>
    <a href="/movies" class="nav-heading">Movies</a>
    {{!-- href is the request url --}}
    <a href="/celebrities" class="nav-heading">Celebrities</a>
  </div>

  <div class="nav-middle">
  </div>

  <div class="nav-right">
    <div class="search-box">
      <input class="input-box"type="text" name="" placeholder="" />
      <img class="search-img" src="/images/search.png" alt="search" />
    </div>
  </div>
</div>

<h1 style="padding-top: 4rem">All movies</h1>

<a href="/movies/new" class="btn-lab-link btn-style2 btn-blue btn-add-celeb" >Add a movie</a>

<div class="table">
{{#each moviesArr}}

  <ul> 
    <li class="card">
      <img src={{this.image}} class="card-img" alt={{this.title}} />
      <a href="/movies/{{this._id}}">
        <h3 class="card-title">{{this.title}}</h3>
      </a>
      <div class="card-info">{{this.director}}</div>
      <div class="card-footer">
        <div></div>
        <a href="/movies/edit/{{this._id}}" class="" >Edit</a>
        <form action="/movies/delete/{{this._id}}" method="POST">
          <button>Delete</button>
        </form>
      </div>
    </li>
  </ul>

{{/each}}
</div>